In [7]:
import pandas as pd
import numpy as np
df=pd.read_csv('/content/classic_dataset_with_nulls.csv')
print(df.head())

  First Name Last Name  Gender   Age                 Email        Phone  \
0    Charlie     Brown  Female  77.0  user4578@example.com  +1-124-4692
1        NaN  Williams    Male   NaN  user5538@example.com  +1-161-7279
2      Grace  Williams   Other  35.0  user7966@example.com  +1-539-3902
3      Diana   Johnson    Male  44.0  user6977@example.com          NaN
4        Eve   Johnson    Male  46.0  user3433@example.com  +1-942-7395

  Country     Salary   Department Joining Date
0   India  107327.89      Finance   2016-02-12
1      UK   72579.42          NaN   2017-05-09
2   India   87653.82      Finance   2000-11-19
3      UK   43230.61        Sales   2008-07-16
4   India  107480.42  Engineering   2000-07-24

In [8]:
df.tail()

,First Name,Last Name,Gender,Age,Email,Phone,Country,Salary,Department,Joining Date
2995,John,Davis,Other,74.0,user7276@example.com,+1-288-8930,South Africa,81908.10,Sales,2017-08-11
2996,Grace,Doe,Male,27.0,user4371@example.com,+1-971-1514,NaN,60105.77,NaN,2000-04-17
2997,Frank,Martinez,Female,25.0,user5299@example.com,+1-532-5408,Brazil,60155.76,Sales,NaN
2998,Frank,NaN,Female,33.0,user3773@example.com,+1-220-7225,Germany,37559.41,Support,2004-05-27
2999,Frank,Garcia,Male,47.0,user8491@example.com,+1-647-1832,NaN,110108.60,Marketing,2000-01-03

In [9]:
df.describe()

               Age         Salary
count  2700.000000    2700.000000
mean     48.804815   74334.282659
std      17.913403   26158.864394
min      18.000000   30008.810000
25%      33.000000   52425.840000
50%      49.000000   73221.670000
75%      64.000000   97093.577500
max      80.000000  119994.020000

In [24]:
print(df.isnull().sum())

First Name      300
Last Name       300
Gender          300
Age             300
Email           300
Phone           300
Country         300
Salary          300
Department      300
Joining Date    300
dtype: int64

In [22]:
df.describe()

               Age         Salary
count  2700.000000    2700.000000
mean     48.804815   74334.282659
std      17.913403   26158.864394
min      18.000000   30008.810000
25%      33.000000   52425.840000
50%      49.000000   73221.670000
75%      64.000000   97093.577500
max      80.000000  119994.020000

In [10]:
print(df.shape)

(3000, 10)

In [19]:
null_rows = df[df.isna().any(axis=1)]
df_cleaned = df[~df.index.isin(null_rows.index)]
df_cleaned = df_cleaned.reset_index(drop=True)

In [20]:
print(df.isnull().sum())

First Name      300
Last Name       300
Gender          300
Age             300
Email           300
Phone           300
Country         300
Salary          300
Department      300
Joining Date    300
dtype: int64

In [28]:
nr=df[~df.isna().any(axis=1)]

In [31]:
df_clean=df(~df.index.isin(nr.index).reset_index(drop=True))

AttributeError: 'numpy.ndarray' object has no attribute 'reset_index'

In [32]:
df_clean = df[~df.index.isin(nr.index)]


df_clean = df_clean.reset_index(drop=True)

In [33]:
print(df.isnull().sum())

First Name      300
Last Name       300
Gender          300
Age             300
Email           300
Phone           300
Country         300
Salary          300
Department      300
Joining Date    300
dtype: int64

In [34]:
df_cleaned = df[
    (df['First Name'].isna() == False) &
    (df['Last Name'].isna() == False) &
    (df['Gender'].isna() == False) &
    (df['Age'].isna() == False) &
    (df['Email'].isna() == False) &
    (df['Phone'].isna() == False) &
    (df['Country'].isna() == False) &
    (df['Salary'].isna() == False) &
    (df['Department'].isna() == False) &
    (df['Joining Date'].isna() == False)
]


df_cleaned = df_cleaned.reset_index(drop=True)


print(df_cleaned.head())

  First Name Last Name  Gender   Age                 Email        Phone  \
0    Charlie     Brown  Female  77.0  user4578@example.com  +1-124-4692
1      Grace  Williams   Other  35.0  user7966@example.com  +1-539-3902
2        Eve   Johnson    Male  46.0  user3433@example.com  +1-942-7395
3      Diana   Johnson  Female  43.0  user9744@example.com  +1-264-8272
4        Eve   Johnson   Other  28.0  user4217@example.com  +1-834-6017

        Country     Salary   Department Joining Date
0         India  107327.89      Finance   2016-02-12
1         India   87653.82      Finance   2000-11-19
2         India  107480.42  Engineering   2000-07-24
3         China  115125.58      Finance   2000-05-28
4  South Africa   30237.76    Marketing   2009-07-16

In [35]:
print(df.isnull().sum())

First Name      300
Last Name       300
Gender          300
Age             300
Email           300
Phone           300
Country         300
Salary          300
Department      300
Joining Date    300
dtype: int64

In [36]:
null_rows = df[df.isnull().any(axis=1)]

print(null_rows.shape[0])

1971

In [38]:
df_cleaned = df[
    (df['First Name'].isna() == False) &
    (df['Last Name'].isna() == False) &
    (df['Gender'].isna() == False) &
    (df['Age'].isna() == False) &
    (df['Email'].isna() == False) &
    (df['Phone'].isna() == False) &
    (df['Country'].isna() == False) &
    (df['Salary'].isna() == False) &
    (df['Department'].isna() == False) &
    (df['Joining Date'].isna() == False)
].reset_index(drop=True)

In [39]:
print(df_cleaned.isnull().sum())

First Name      0
Last Name       0
Gender          0
Age             0
Email           0
Phone           0
Country         0
Salary          0
Department      0
Joining Date    0
dtype: int64